<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <meta name="google-site-verification" content="zIi51o0rU9tV6lEi9JnNH3kUtmJigQridGU8W1Pz8os" />
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <header id="header">
      <%= render "/refinery/header" -%>
    </header>

    <div class="container">
      <section id="page">
        <%= yield %>
      </section>
      <hr class="featurette-divider">
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
